section#loginForm.flex.vertical-center
  div.container
    section.login(ng-show="visible")
      h1 Login
      br/
      p.error(ng-if="loginError").
        Something happen
      form#log-in
        input(type='text' ng-model='credentials.username' placeholder='Username')
        input(type='password' ng-model='credentials.password' placeholder='Password')
        br/
        div.log-in-buttons.flex.vertical-center.content-right
          button.linkBtn(ng-click="showRegister()") Register
          button(type='submit' ng-click='login(credentials)') Login
    section.register(ng-hide="visible")
      h1 Register

      form#register
        p.error(ng-show="registerError.visibility").
          {{registerError.message}}
        input(type='email' ng-model='credentials.email' placeholder='Email')
        input(type='text' ng-model='credentials.username' placeholder='Username')
        input(type='password' ng-model='credentials.password' placeholder='Password')
        div.register-buttons.flex.vertical-center.content-right
          button.linkBtn(ng-click="showRegister()") Login
          button(type='submit' ng-click='register(credentials)') Register
