h1 Login
form
  input(type='text' ng-model='credentials.username' placeholder='Username')
  input(type='password' ng-model='credentials.password' placeholder='Password')
  button(type='submit' ng-click='login(credentials)') Login

button(ui-sref='register') Register
