form#log-in
  button, input
    padding 10px
    margin: 10px
    border 1px black solid
    background white
    font-size 18px
    &:focus
      outline none
    &:hover:not(input)
      color: cadetblue
      cursor: pointer
