doctype html
html(lang='en')
  head
    title Thinky Practice
    link(rel='stylesheet' href='style.css')
  body(ng-app='todoApp')
    nav-bar
    section.container(ui-view)
    script(src='bundle.js')
