doctype html
html(lang="en")
  head
    title. 
      Hello World
    link(href="style.css", rel="stylesheet")
  body
    div(ng-app="todoApp")
      div(ng-controller="homeCtrl").container
        nav
          ul
            li
              button(ui-sref="/", onclick="console.log('Click Home')") Home
            li
              button(ui-sref="page",  onclick="console.log('Click Page')") Page
      
        section.container(ng-view)
        
    
