doctype html
html(lang='en')
  head
    title Thinky Practice
    link(rel='stylesheet' href='style.css')
  body(ng-app='todoApp')
    .nav
        button#home(ui-sref='secured.home') Home
        button.navBtn(ui-sref='login') Login
        button.navBtn(ui-sref='logout') Logout
        button.navBtn(ui-sref='register') Register
        button.navBtn(ui-sref='secured.list({status: "new"})') New
        button.navBtn(ui-sref='secured.list({status: "inProg"})') In Progress
        button.navBtn(ui-sref='secured.list({status: "done"})') Done
    .container(ui-view)
    script(src='bundle.js')
