*
  padding 0
  margin 0
  box-sizing border-box

.container
  max-width 980px
  width: 100%
  margin 0 auto
ul
  list-style none
  li
    display inline-block
button
  padding 10px
  margin: 10px
  border 0
  background white
  font-size 18px
  &:focus
    outline none
  &:hover
    color: cadetblue
    cursor: pointer
